<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Foodyuppie a Restaurant Category Bootstrap Responsive Website Template - Home : W3Layouts</title>
    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <span>Yemek</span>sepeti
                        </a>
                    </h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Giris/Hakkinda">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Giris/Servisler">Servislerimiz</a>
                            </li>
                          
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item">
                                <a href="~/Giris/RestorantGiris"
                                   class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2">
                                    <span class="" aria-hidden="true"></span>   Restorant Girişi
                                </a>
                            </li>
                        </ul>


                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                    <h3 class="mb-4">Evlere Servis
                    </h3>
                    <p>
                        Türkiye'nin 81 şehri ve KKTC'de, 50 bini aşkın restoran iş ortağımızla, Türkiye’de online yemek siparişi denince ilk akla 
                        gelen markayız! Restoran zincirleri başta olmak üzere, civarınızdaki en sevdiğiniz restoranlardan kolayca sipariş verebilirsiniz.

                        Bunun yanında, hızlı market alışverişine ihtiyacınız varsa, Yemeksepeti Market hizmetinizde! Binlerce market ürünü 
                        dilediğiniz anda, dakikalar içinde gelsin!

                        Restoranınızı seçin, istediğiniz yemekleri sepete ekleyin, online ya da kapıda dilediğiniz gibi ödeyin. Gerisi kolay, 
                        siparişiniz hızlıca kapınızda!
                    </p>
                    <div class="mt-sm-5 mt-4">
                        <a class="btn btn-outline-primary btn-style mr-2" href="/Giris/Hakkinda">
                            Hakkımızda <span class="fa fa-chevron-right"></span>
                        </a>
                        <a class="btn btn-primary btn-style" href="~/Giris/UyeGiris">
                            Üye Girişi <span class="fa fa-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-5">
                    <div class="img-effect text-lg-center">
                        <img src="/assets/images/pic1.png" alt="banner" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
    <section class="w3l-products py-5" id="projects">
        <div class="container py-lg-3">
            <div class="header-section text-center mx-auto">
                <span class="subhny-title text-center mb-2">Hızlı Tercih</span>
                <h3 class="hny-title text-center mb-5">Popüler Yemekler</h3>
            </div>
            <div class="mt-5">
                <div class="mx-auto">
                    <!--Horizontal Tab-->
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li>Hamburger</li>
                            <li>Pizza</li>
                            <li>Et</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/1.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">
                                                        Cheeseburger ve Salata
                                                    </h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>130.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/2.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Pastırmalı Cheeseburger</h4>

                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>125.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/3.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Pastırmalı Hamburger</h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>120.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/1.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">
                                                        Cheeseburger ve Salata
                                                    </h4>

                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>120.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/4.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Klasik Deniz Ürünleri Pizzası</h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>180.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/5.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Karidesli ve Zeytinli Pizza</h4>

                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>150.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/6.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Peynirli Pizza</h4>

                                                    <p class="mb-4">
                                                    </p>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>150.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/4.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Klasik Deniz Ürünleri Pizzası</h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>190.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="products-content">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/7.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Baharatlı Tavuk Bonfile</h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>160.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/8.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Salatalı Tavuk Bonfile</h4>

                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>150.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/9.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Baharatlı Pastırma</h4>

                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>100.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="/assets/images/7.png" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="fa fa-star  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">Baharatlı Tavuk Bonfile</h4>
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">₺</span>120.00
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //our products -->
    <!-- //bottom-grids-->
    <!-- home page block2 grids -->
    <section class="w3l-grids-3 py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="row bottom-ab-grids">
                <div class="col-lg-6 bottom-ab-left pr-lg-5">
                    <span class="subhny-title mb-2">Işık Hızında</span>
                    <h3 class="hny-title mb-4">Açlığı Gidermenin En İyi Yolu</h3>
                    <ul class="cont-4 mt-4">
                        <li><span class="fa fa-check"></span>Yemek siparişi ya da market alışverişinde onlarca mutfak ve kategori, binlerce çeşit ürün!</li>
                        <li><span class="fa fa-check"></span>Yemek ve market ihtiyaçlarınızda her gün on binlerce indirim!</li>
                        <li><span class="fa fa-check"></span>Siparişinizle ilgili size her zaman destek olmaya hazır, 7/24 Canlı Yardım ekibi!</li>
                        <li><span class="fa fa-check"></span>Online ya da kapıda, dilediğiniz gibi ödeme seçeneği!</li>
                    </ul>
                    <a href="/Giris/Hakkinda" class="btn btn-style btn-primary mt-lg-5 mt-4">
                        Hakkımızda <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
                <div class="col-lg-6 bottom-right-grids mt-lg-0 mt-5">
                    <img src="/assets/images/pic3.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
        </div>
    </section>
   
    <!-- testimonials -->
    <section class="w3l-clients-1" id="testimonials">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <div class="container py-md-4">
                <div class="heading align-self text-center">
                    <h3 class="hny-title mb-md-4 mb-2">
                        Müşterilerimizin Yorumları
                    </h3>
                </div>
                <!-- /grids -->
                <div class="testimonial-row">
                    <div id="owl-demo1" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img">
                                        <img src="/assets/images/team1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <blockquote>
                                        <q>
                                            Joker indirimi diye bir indirim vermişler. 3-4 dakikalık bir indirim. Sırf kullanamayayım diye ödeme şeklini seçtirmediler sırf o süre bitsin diye. 
                                            Madem kullandırmayacaksın ne diye indirim veriyorsun. Boşu boşuna zaman kaybı başka hiçbir şey değil. Helal size ya👌
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Sevda Çiçek</h3>
                                            <p class="indentity">Müşteri </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img">
                                        <img src="/assets/images/team2.jpg" class="img-fluid"
                                             alt="client-img">
                                    </div>
                                    <blockquote>
                                        <q>
                                            Yemek Sepeti üzerinden KFC mağazasından sipariş verdim ve 
                                            1 saat boyunca sipariş yolda yazdı yemeği gezdirdiler gezdirdiler sonrada gelip müşteriye sunuyorlar. Bu şekilde bir sorumsuzluk olamaz, olmamalı ben yemek 
                                            saatimde sipariş vermiştim ve bu firmalar yüzünden yemek molam doldu.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Firuze İnce</h3>
                                            <p class="indentity">Müşteri </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img">
                                        <img src="/assets/images/team3.jpg" class="img-fluid"
                                             alt="client-img">
                                    </div>
                                    <blockquote>
                                        <q>
                                            Güzel yemek, hızlı teslimat ben memnunum. Diğer arkadaşlar da memnun olsunlar.
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Erol Büyükburç </h3>
                                            <p class="indentity">Müşteri </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-content">
                                <div class="testimonial">
                                    <div class="test-img">
                                        <img src="/assets/images/team4.jpg" class="img-fluid"
                                             alt="client-img">
                                    </div>
                                    <blockquote>
                                        <q>
                                           Gayet güzel bir platform. Hep buradan yiyorum. Hızlı teslimat ve lezzet...
                                        </q>
                                    </blockquote>
                                    <div class="testi-des">
                                        <div class="peopl align-self">
                                            <h3>Murat Uyanık</h3>
                                            <p class="indentity">Müşteri </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!-- //testimonials -->
    <!-- footer-28 block -->
    <section class="w3l-footer">
        <footer class="footer-28 py-5">
            <div class="container py-md-5">
                <div class="footer-top-28 text-center">
                    <div class="row foothny-grids mb-lg-5 mb-4">
                        <div class="col-lg-6 fotter-gd-left px-0">
                            <a href="#"><img src="/assets/images/footer.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <div class="col-lg-6 fotter-gd-right">
                            <div class="ft-grid">
                                <h5>
                                    <span class="text-content"> Sipariş İçin Bizi Arayın </span>

                                    <span class="fa fa-phone mr-3" aria-hidden="true"></span>(Telefon Numarası)</span>
                                </h5>

                            </div>
                        </div>
                    </div>

                    <h2>
                        <a class="navbar-brand" href="/">
                            Yemek<span>sepeti</span>
                        </a>
                    </h2>
                    <p class="f-para mt-3">
                        Türkiye'nin 81 şehri ve KKTC'de, 50 bini aşkın restoran iş ortağımızla, Türkiye’de online yemek siparişi denince ilk akla gelen markayız! Restoran 
                        zincirleri başta olmak üzere, civarınızdaki en sevdiğiniz restoranlardan kolayca sipariş verebilirsiniz.
                    </p>
                </div>
                <div class="footer-social-accounts text-center mt-lg-5 mt-4">

                    <ul class="social-icons mt-4">
                        <li class="facebook">
                            <a href="#link" title="Facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#link" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#link" title="Dribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="google mr-0">
                            <a href="#link" title="Google">
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="midd-footer-28 align-center mt-lg-0 mt-4">
                <p class="copy-footer-28 text-center">
                    &copy; 2023 Yemeksepeti | Mehmet Sait Adıgüzel</a>
                </p>

            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->
        </footer>

        <script src="/assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->

        <script src="/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->
        <!-- responsive tabs -->
        <script src="/assets/js/jquery-1.9.1.min.js"></script>

        <script src="/assets/js/easyResponsiveTabs.js"></script>

        <!--Plug-in Initialisation-->
        <script type="text/javascript">
            $(document).ready(function () {
                //Horizontal Tab
                $('#parentHorizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true, // 100% fit in a container
                    tabidentify: 'hor_1', // The tab groups identifier
                    activate: function (event) { // Callback function if tab is switched
                        var $tab = $(this);
                        var $info = $('#nested-tabInfo');
                        var $name = $('span', $info);
                        $name.text($tab.text());
                        $info.show();
                    }
                });
            });
        </script>
        <!-- //counter-->
        <script src="/assets/js/owl.carousel.js"></script><!-- owl carousel -->
        <!-- script for tesimonials carousel slider -->
        <script>
            $(document).ready(function () {
                $("#owl-demo1").owlCarousel({
                    loop: true,
                    margin: 20,
                    nav: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        1000: {
                            items: 1,
                            nav: false,
                            loop: false
                        }
                    }
                })
            })
        </script>
        <!-- //script for tesimonials carousel slider -->
        <!--/MENU-JS-->
        <script>
            $(window).on("scroll", function () {
                var scroll = $(window).scrollTop();

                if (scroll >= 80) {
                    $("#site-header").addClass("nav-fixed");
                } else {
                    $("#site-header").removeClass("nav-fixed");
                }
            });

            //Main navigation Active Class Add Remove
            $(".navbar-toggler").on("click", function () {
                $("header").toggleClass("active");
            });
            $(document).on("ready", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
                $(window).on("resize", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                });
            });
        </script>
        <!--//MENU-JS-->
        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- //disable body scroll which navbar is in active -->
        <!--bootstrap-->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->

</body>

</html>