
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="//fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="/">
                            <span>Yemek</span>sepeti
                        </a>
                    </h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Giris/Hakkinda">Hakkımızda</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/Giris/Servisler">Servislerimiz</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav search-right mt-lg-0 mt-2">
                            <li class="nav-item">
                                <a href="~/Giris/RestorantGiris"
                                   class="btn btn-primary btn-style d-none d-lg-block btn-style mr-2">
                                    <span class=""
                                          aria-hidden="true"></span> Restorant Girişi
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-3">
            <div class="container grid-breadcrumb">
                <ul class="breadcrumbs-custom-path mt-md-2">
                    <li><a href="/">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Servislerimiz </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <div class="w3l-cta5 call-to-action-5-content text-center py-5">
        <div class="container py-md-5">
            <h3 class="hny-title text-center mb-4">Servislerimiz</h3>
            <p class="shny-para">
                Servislerimizle yemek deneyiminizi mükemmelleştiriyoruz. Hızlı ve güvenilir bir şekilde kapınıza kadar getiriyoruz. Yemekleriniz 
                özenle paketlenerek sıcaklığını ve tazeliğini korurken, lezzetini de garantiliyoruz. Müşteri memnuniyetini ön planda tutarak, en iyi hizmeti sunmak için çalışıyoruz.
            </p>
            <a href="/Giris/Hakkinda" class="btn btn-primary btn-style mb-4">Hakkımızda <span class="fa fa-chevron-right"></span></a>
            <div class="three-grids d-grid grid-columns-3">
                <div class="grid">
                    <div class="icon">
                        <span class="fa fa-free-code-camp" aria-hidden="true"></span>
                    </div>
                    <div class="icon-info">
                        <h4><a href="#">Baharatlı Yemekler</a></h4>
                        <p>
                            Tabaklarınıza baharatın ateşini katın! Baharatlı yemeklerle damakları şenlendirin.
                        </p>
                    </div>
                </div>
                <div class="grid">
                    <div class="icon">
                        <span class="fa fa-flask" aria-hidden="true"></span>
                    </div>
                    <div class="icon-info">
                        <h4><a href="#">Tatlılar</a></h4>
                        <p>
                            Tatlı bir mola için şekerli dünyaya adım atın! Tatlılarla damakları şımartın.
                        </p>
                    </div>
                </div>
                <div class="grid">
                    <div class="icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="icon-info">
                        <h4><a href="#">Salatalar</a></h4>
                        <p>
                            Taze ve sağlıklı bir başlangıç için yeşilin lezzetine varın! Salatayla vitamin dolu bir yolculuğa çıkın.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /call to action 5 -->
    <section class="w3l-features14">
        <div class="w3l-feature-6-main py-5">
            <div class="container py-lg-5">
                <div class="row align-center">
                    <div class="col-lg-7 img-left">
                        <div class="header-section text-left mb-5">
                            <h3 class="hny-title">
                                Vaatlerimiz
                            </h3>
                        </div>
                        <div class="grid mt-0">
                            <div class="w3l-feature-6-gd">
                                <div class="icon"><span class="fa fa-free-code-camp"></span></div>
                                <div class="w3l-feature-6-gd-info">
                                    <h3><a href="#url">Taze Ve Sıcak</a></h3>
                                    <p>Hızlı servislerimizle siparişlerinizi en kısa sürede kapınıza ulaştırarak, yemeklerin tazeliğini ve sıcaklığını koruyoruz.</p>
                                </div>
                            </div>
                            <div class="w3l-feature-6-gd">
                                <div class="icon"><span class="fa fa-sitemap"></span></div>
                                <div class="w3l-feature-6-gd-info">
                                    <h3><a href="#url">Sağlıklı</a></h3>
                                    <p>Sağlıklı seçeneklerimizle, dengeli beslenme hedeflerinizi destekliyoruz. Doğal ve kaliteli malzemelerle hazırlanan yemeklerimizle 
                                    sağlıklı bir yaşam tarzını benimsemenize yardımcı oluyoruz.</p>
                                </div>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="w3l-feature-6-gd">
                                <div class="icon"><span class="fa fa-glass"></span></div>
                                <div class="w3l-feature-6-gd-info">
                                    <h3><a href="#url">Lezzetli</a></h3>
                                    <p>Lezzetli yemeklerimiz, özenle seçilen malzemeler ve ustalıkla hazırlanan tariflerimizle damaklarınızı şenlendiriyoruz.</p>
                                </div>
                            </div>
                            <div class="w3l-feature-6-gd">
                                <div class="icon"><span class="fa fa-clone"></span></div>
                                <div class="w3l-feature-6-gd-info">
                                    <h3><a href="#url">Müşteri Memnuniyeti</a></h3>
                                    <p>Müşteri memnuniyeti odaklı çalışarak, siz değerli müşterilerimizin beklentilerini karşılamak ve her adımda size en iyi hizmeti sunmak 
                                    için çalışıyoruz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 img-right mt-5 pt-lg-4">
                        <img src="/assets/images/pic2.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/-->
    <!--//-->
    <!-- footer-28 block -->
    <section class="w3l-footer">
        <footer class="footer-28 py-5">
            <div class="container py-md-5">
                <div class="footer-top-28 text-center">
                    <div class="row foothny-grids mb-lg-5 mb-4">
                        <div class="col-lg-6 fotter-gd-left px-0">
                            <a href="#"><img src="/assets/images/footer.jpg" class="img-fluid" alt=""></a>
                        </div>
                        <div class="col-lg-6 fotter-gd-right">
                            <div class="ft-grid">
                                <h5>
                                    <span class="text-content"> Şimdi Sipariş Verin! </span>

                                    <span class="fa fa-phone mr-3" aria-hidden="true"></span>(Telefon Numarası)</span>
                                </h5>

                            </div>
                        </div>
                    </div>

                    <h2>
                        <a class="navbar-brand" href="index.html">
                            Yemek<span>sepeti</span>
                        </a>
                    </h2>
                    <p class="f-para mt-3">
                        Türkiye'nin 81 şehri ve KKTC'de, 50 bini aşkın restoran iş ortağımızla, Türkiye’de online yemek siparişi denince ilk akla gelen markayız! Restoran
                        zincirleri başta olmak üzere, civarınızdaki en sevdiğiniz restoranlardan kolayca sipariş verebilirsiniz.
                    </p>
                </div>
                <div class="footer-social-accounts text-center mt-lg-5 mt-4">

                    <ul class="social-icons mt-4">
                        <li class="facebook">
                            <a href="#link" title="Facebook">
                                <span class="fa fa-facebook" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#link" title="Twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#link" title="Dribbble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="google mr-0">
                            <a href="#link" title="Google">
                                <span class="fa fa-google" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="midd-footer-28 align-center mt-lg-0 mt-4">
                <p class="copy-footer-28 text-center">
                    &copy; 2023 Yemeksepeti | Mehmet Sait Adıgüzel</a>
                </p>

            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
            </script>
            <!-- /move top -->
        </footer>

        <script src="/assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->

        <script src="/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->
        <!-- responsive tabs -->
        <!--/MENU-JS-->
        <script>
      $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
          $("#site-header").addClass("nav-fixed");
        } else {
          $("#site-header").removeClass("nav-fixed");
        }
      });

      //Main navigation Active Class Add Remove
      $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
      });
      $(document).on("ready", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
        $(window).on("resize", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
        });
      });
        </script>
        <!--//MENU-JS-->
        <!-- disable body scroll which navbar is in active -->
        <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
        </script>
        <!-- //disable body scroll which navbar is in active -->
        <!--bootstrap-->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- //bootstrap-->

</body>

</html>