@model IEnumerable<yemeksepeti.Models.restoranlar>




@{ Layout = "~/Views/Shared/RestorantLayout.cshtml";
    var ornekgrid = new WebGrid(source: Model, canPage: true, rowsPerPage: 20);
    ornekgrid.Pager(WebGridPagerModes.All);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Arama</title>
</head>
<body>
    <h2>Restoranlar</h2>
    <h3> Toplam Kayıt Sayısı : @ViewBag.TotalRows</h3>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("gridsearch", "Restorantlar", FormMethod.Get, new { @class = "navbar-form navbar left " }))
                {
                    <div class="form-group">
                        <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />

                    </div>
                    <button type="submit" value="ARA" class="btn  btn-success"></button>}

            </div>
        </div>

    </nav>

    <div>

        @ornekgrid.Table(
         tableStyle: "table table-responsive table-bordered",
     columns: ornekgrid.Columns(
 ornekgrid.Column(columnName: "restoranadı", header: "Restoran Adı"),
 ornekgrid.Column(columnName: "minimumsiparis", header: "Minumum Sipariş"),
 ornekgrid.Column(columnName: "restoranpuan", header: "Restoran Puanı"),
 ornekgrid.Column(columnName: "acıklama", header: "Açıklama")

 ))

    </div>
</body>
</html>